* {
    margin: 0 auto;
}

.store {
    margin-top: 200px;
}

.store__main-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.store__main-cards-container .main-card {
    width: 49.5%;
    height: 440px;
    box-sizing: border-box;
    background-color: #F5F6F8;
    position: relative;
}

.store__main-cards-container .main-card img {
    width: 100%;
    height: 100%;
}

.store__main-cards-container .main-card h1 {
    position: absolute;
    width: 45%;
    left: 38%;
    top: 41%;
    font-family: 'Caladea', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.store__main-cards-container .main-card p {
    position: absolute;
    width: 45%;
    left: 38%;
    top: 57.5%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.store__products-container {
    margin-top: 104px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: #000;
}

.product_card {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    height: 408px;
    box-shadow: 0px 24px 32px rgba(126, 130, 139, 0.16);
    border-radius: 8px;
    transition: all ease 0.5s;
}

.product_card:hover {
    box-shadow: 0px 24px 32px rgba(126, 130, 139, 0.32);
    cursor: pointer;
    transform: scale(1.05);
}

.product_card img {
    width: 100%;
    height: 200px;
}

.product_card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 186px;
    padding: 0 12px;
    margin: 0;
    position: relative;
}

.product_card h2 {
    font-family: 'Caladea', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    margin: 0;
    /* padding-top: 16px; */
}

.product_card p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
}

.product_card .prices-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    /* left: 0; */
    bottom: 5%;
    /* padding-bottom: 16px; */
}

.product_card .prices-container .new-price {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.product_card .prices-container .old-price {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #707883;
    margin: 0;
    padding-left: 10px;
}

.footer-image {
    width: 100%;
    height: 368px;
    background-image: url("assets/footer-img.png");
    background-size: cover;
    margin-top: 200px;
}

@media screen and (max-width: 900px) {

    .product_card {
        width: 45%;
    }
    
}

@media screen and (max-width: 700px) {

    .store__products-container {
        justify-content: center;
    }

    .product_card {
        width: 60%;
        
    }
    
}