* {
    margin: 0 auto;
}

.main-header {
    width: 100vw !important;
}

.mobile-nav {
    width: 100vw !important;
}

.services {
    margin-top: 170px;
}

.services__intro-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20%;
}

.services__intro-container h1 {
    margin: 0;
    font-family: 'Caladea', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 15px;
}

.services__intro-container p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    padding-bottom: 40px;
    margin: 0;
}

.services__intro-container button {
    margin: 0;
    width: 183px;
    height: 48px;
    padding: 8px 16px;
    background: #ED704C;
    box-shadow: 0px 16px 16px rgba(125, 56, 36, 0.16);
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
    border: none;
    margin-bottom: 100px;
    transition: all ease 0.5s;
}

.services__intro-container button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.services__services-container-1 {
    width: 90%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    box-sizing: border-box;
}

.services__services-container-1 img {
    width: 60%;
    height: 360px;
    margin: 0;
}

.services__services-container-1 .service-info {
    width: 40%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25px;
    box-sizing: border-box;
    margin-right: 0;
}

.service-info h2 {
    font-family: 'Caladea', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 16px;
    margin: 0;
}

.service-info p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 24px;
    margin: 0;
}

.service-info a {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #ED704C;
}

.services__services-container-2 {
    width: 80%;
    max-width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    box-sizing: border-box;
    margin-top: 120px;
    margin-left: 10%;
    align-self: flex-end;
}

.services__services-container-2 img {
    width: 60%;
    height: 274px;
    margin: 0;
}

.services__services-container-2 .service-info {
    width: 40%;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin-right: 0;
    margin-right: 24px;
}

.services__services-container-3 {
    width: 80%;
    max-width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    box-sizing: border-box;
    margin-top: 120px;
    margin-left: 10%;
    align-self: flex-end;
}

.services__services-container-3 img {
    width: 60%;
    height: 274px;
    margin: 0;
}

.services__services-container-3 .service-info {
    width: 40%;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 24px;
}

.services__services-container-4 {
    width: 90%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    box-sizing: border-box;
    margin-top: 120px;
    margin-left: 10%;
    align-self: flex-end;
}

.services__services-container-4 img {
    width: 60%;
    height: 274px;
    margin: 0;
}

.services__services-container-4 .service-info {
    width: 40%;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin-right: 0;
    margin-right: 24px;
}


/* Testimonials */

.testimonials__title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 64px;
    margin-left: 10%;
    margin-top: 120px;
}

.testimonials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    margin: 0;
    border: 0.2px solid hsla(215, 8%, 48%, 0.5);
    box-sizing: border-box;
}

.testimonial-card .card-img {
    width: 100%;
}

.testimonial-card img {
    width: 100%;
}

.testimonial-card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 26px;
    padding-right: 26px;
}

.card-info h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    padding-top: 12px;
}

.card-info span {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #707883;
    margin: 0;
}

.card-info p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Footer CTA */

.footer__cta {
    width: 100%;
    height: 368px;
    background-image: url('assets/footer_img.png');
    background-size: cover;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__cta h1 {
    font-family: 'Caladea', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #E5E5E5;
    padding-bottom: 32px;
}

.footer__cta button {
    width: 183px;
    height: 48px;
    padding: 8px 16px;
    background: #ED704C;
    box-shadow: 0px 16px 16px rgba(125, 56, 36, 0.16);
    border-radius: 8px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.footer__cta button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

@media screen and (max-width: 900px) {
    .testimonials-container {
        justify-content: center;
    }
    .testimonial-card {
        width: 45%;
        margin: 8px;
    }
}

@media screen and (max-width: 700px) {
    .testimonial-card {
        width: 60%;
        margin: 16px;
    }
}

@media screen and (max-width: 800px) {
    .services__intro-container {
        width: 90%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1301px) {
    .services__services-container-1 {
        margin-left: 10%;
    }
}